<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Blog</title>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/dialog.css" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="logo">My Gallery</div>
        <button class="nav-btn" id="addImageBtn">Add Image</button>
      </div>
    </nav>
  </body>
  <script src="uiHandler.js"></script>
</html>
